<!-- <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">"></script>
<script type="text/javascript" src="friendctrl.js"></script>
<title>Friend suggestions</title>
</head>
<body  ng-app="FriendApp" ng-controller="FriendController">

<table class="table table-bordered table-hover" ng-init="getDataFromServer()">
				<thead>
					<tr>
						<th>User Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="nonfriend in nonfriends">
						<td>{{ nonfriend.username }}</td> <data-ng-model ="username">
					  <td><button ng-click="sendreq(user.userid)">Send request</button></td>
					  </tr>
					  
			</table>

</body>
</html> -->